@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Merienda+One&family=Mochiy+Pop+One&family=Niconne&family=Pacifico&family=Poppins&family=Shrikhand&display=swap');

$primary-color: #0f084b;
$secondary-color: #ffc300;
$tertiary-color: #001d3d;
$correct-color: #27a300;
$wrong-answer: #ba3f1d;
$text-color: white;
$aws-clor: #ffd60a;
$font-logo: 'Mochiy Pop One', cursive;
$font-text: 'Poppins', sans-serif;
$text-size-button: 19px;
$important-text: bold;
$margin-top: 33px;
$logo-size: 70px;
$padding-input: 15px;
$box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

@mixin logo {
    color: $secondary-color;
    font-family: $font-logo;
    font-size: $logo-size;
    font-weight: $important-text;
}

@mixin button {
    color: $primary-color;
    font-family: $font-text;
    font-size: $text-size-button;
    font-weight: $important-text;
    min-width: 200px;
    min-height: 40px;
    border-radius: 20px;
    &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}

@mixin next-btn {
    @include button;
    text-align: center;
    margin: auto;
    background-color: $aws-clor;
    box-shadow: $box-shadow;
    margin-bottom: 70px;
    min-height: 60px;
    font-size: 23px;

    @include breakpoints(tablet){
        min-height: 59px;
        font-size: 20px;
    }
    @include breakpoints(mobile){
        min-height: 45px;
        font-size: 18px;
    }

    &:hover{
        cursor: pointer;
        background-color: #f8961e;
        transition: 0.7s;
    }
}

@mixin resultButton {
    @include button;
    text-align: center;
    background-color: $aws-clor;
    box-shadow: $box-shadow;
    min-height: 60px;
    font-size: 23px;

    @include breakpoints(tablet){
        min-height: 59px;
        font-size: 20px;
    }
    @include breakpoints(mobile){
        min-width: 160px;
        min-height: 45px;
        font-size: 18px;
    }

    &:hover{
        cursor: pointer;
        background-color: #f8961e;
        transition: 0.7s;
    }
}

@mixin breakpoints($point){
    @if $point == mobile {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $point == tablet {
        @media (min-width: 768px) and (max-width: 1120px){
            @content;
        }
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $tertiary-color;
    height: 100vh;
    display: grid;
    place-items: center;
}

.text-logo{
    @include logo;
    display: flex;
    justify-content: center;
    animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    @include breakpoints(mobile){
        font-size: 35px;
    }
}

.welcome-text{
    color: $text-color;
    font-family: $font-text;
    margin-top: $margin-top;
    text-align: center;
    @include breakpoints(mobile){
        font-size: 17px;
    }
}

.aws{
    color: $aws-clor;
    font-weight: $important-text;
}

.container{
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 75%;
    margin: 0 auto;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 60px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    @include breakpoints(tablet){
        width: 90%;
    }
    @include breakpoints(mobile){
        width: 90%;
        height: auto;
    }
}
.first-slide{
    // display: none;
    margin-top: 10px;
    @include breakpoints(mobile){
        margin-top: 80px;
    }
}

.input-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-input{
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 450px;
    min-height: 45px;
    padding: $padding-input;
    border-radius: 20px;
    box-shadow: $box-shadow;

    &::placeholder{
        font-family: $font-text;
        font-size: $text-size-button;
        text-align: center;
        @include breakpoints(mobile){
            font-size: 15px;
        }
    }

    &:focus{
        border: 6px solid $secondary-color;
        border-radius: 20px;
    }
    @include breakpoints(mobile){
        min-width: 250px;
        min-height: 35px;
        margin-top: 28px;
        margin-bottom: 10px;
    }
}

.btn{
    @include button;
    margin-bottom: 100px;
    background-color: $aws-clor;
    box-shadow: $box-shadow;

    &:hover{
        cursor: pointer;
        background-color: #f8961e;
        transition: 0.7s;
    }
    @include breakpoints(mobile){
        min-width: 100px;
        min-height: 35px;
        font-size: 15px;
    }
}

.quiz-app{
    display: none;
    width: 70%;
    color: $text-color;
    justify-content: space-between;
    align-self: center;
    margin: 20px 150px 0px ;
    font-family: $font-text;
    font-weight: $important-text;
    @include breakpoints(tablet){
        font-size: 18px;
        margin-left: 40px;
        margin-bottom: 80px;
        flex-direction: column;
        gap: 10px;
    }
    @include breakpoints(mobile){
        font-size: 14px;
        margin-left: 30px;
        flex-direction: column;
        gap: 10px;
    }
}

.quiz-info{
    display: none;
    font-family: $font-text;
    text-align: center;
}

.quiz-question{
    margin: 70px 30px 25px;
    padding: 8px 10px;
    color: $primary-color;
    background-color: $aws-clor;
    font-weight: $important-text;
    border-radius: 20px;
    box-shadow: $box-shadow;
    @include breakpoints(tablet){
        font-size: 18px;
    }
    @include breakpoints(mobile){
        font-size: 15px;
    }
}

.score{
    padding: 8px 20px;
    width: fit-content;
    color: $primary-color;
    background-color: $aws-clor;
    font-weight: $important-text;
    border-radius: 20px;
    box-shadow: $box-shadow;
}

.username{
    padding: 8px 10px;
    width: fit-content;
    color: $tertiary-color;
    background-color: $text-color;
    font-weight: $important-text;
    border-radius: 20px;
    box-shadow: $box-shadow;
}

.progress-bar{
    display: flex;
    gap: 5px;
}

#progress-bar{
    width: 120px;
    height: 35px;
    border-radius: 20px;
    box-shadow: $box-shadow;
    background-color: $text-color;
}

#progress-bar-full{
    width: 100px;
    height: 34px;
    border-radius: 20px;
    box-shadow: $box-shadow;
    background-color: $aws-clor;
    width: 0%;
}

.answers{
    // display: flex;
    // justify-content: space-between;
    // flex-direction: column;
    margin: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-template-rows: 90px 90px;
    @include breakpoints(mobile){
        grid-template-rows: repeat(4, 65px);

    }
    @include breakpoints(tablet){
        grid-template-rows: repeat(4, 65px);

    }
}

@for $i from 1 through 4 {
    #answer-#{$i}{
        // width: 600px;
        // height: 65px;
        margin-bottom: 15px;
        border-radius: 15px;
        font-weight: $important-text;
        font-family: $font-text;
        font-size: 18px;
        font-weight: $important-text;
        color: $primary-color;
        box-shadow: $box-shadow;
        @include breakpoints(tablet){
            // width: 450px;
            // height: 55px;
        }
        @include breakpoints(mobile){
            font-size: 14px;
            // width: 250px;
            // height: 55px;
        }

        &:hover{
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            background-color: #ffbf69;
            transition: 0.7s;
        }
    }
    @if $i%2 != 0{
        .answer-#{$i}{
            margin-right: 25px;
        }
    }
}

// @for $i from 1 through 2{
//     .answers-#{$i}{
//         // display: flex;
//         // justify-content: center;
//         // align-items: center;
//         // gap: 5px;
//         // @include breakpoints(tablet){
//         //     flex-direction: column;
//         // }
//         // @include breakpoints(mobile){
//         //     flex-direction: column;
//         // }
//     }
    
// }

.correct{
    background-color: $correct-color !important;
    color: $text-color !important;
}

.wrong{
    background-color: $wrong-answer !important;
    color: $text-color !important;
}

.next-btn{
    @include next-btn;
    display: none;
}

#chevron{
    display: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
    @include breakpoints(mobile){
        font-size: 18px;
    }
}

#empty-input{
    color: $text-color;
    font-size: 19px;
    font-family: $font-text;
    font-weight: $important-text;
    text-align: center;
    margin-bottom: 15px;
}

.done{
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    @include breakpoints(mobile){
        max-width: 160px;
    }
}

.result{
    display: none;
    color: $text-color;
    font-family: $font-text;
    font-weight: $important-text;
    text-align: center;
}

.congrats{
    margin-bottom: 10px;
    @include breakpoints(mobile){
        font-size: 13px;
    }
}

.complete{
    margin-bottom: 3px;
}

.user-score{
    margin-bottom: 4px;
    @include breakpoints(mobile){
        font-size: 15px;
    }
}

#total-question, #correct-answer, #wrong-answer, #user-score, #user-name{
    color: $aws-clor;
}

.check-answers{
    margin-bottom: 25px;
    @include breakpoints(mobile){
        font-size: 15px;
    }
}

.result-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    @include breakpoints(mobile){
        flex-direction: column;
    }
}

.feedback-btn{
    @include resultButton;
}

.play-again-btn{
    @include resultButton;
}

.result-icon{
    margin-right: 4px;
}

.feedback-gif{
    max-width: 98px;
    height: auto;
    @include breakpoints(mobile){
        max-width: 40px;
    }
}

.feedback-slide{
    display: none;
}

.feedback-text{
    color: $text-color;
    font-weight: $important-text;
    font-size: 48px;
    font-family: $font-text;
    @include breakpoints(tablet){
        font-size: 38px;
    }
    @include breakpoints(mobile){
        font-size: 28px;
    }
}

.feedback-1{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.feedback-2{
    display: flex;
    flex-direction: column;
    margin: 38px 30px 25px;
    padding: 8px 10px;
    background-color: $text-color;
    font-weight: $important-text;
    border-radius: 20px;
    box-shadow: $box-shadow;
    color: $tertiary-color;
    font-family: $font-text;
    @include breakpoints(tablet){
        font-size: 18px;
    }
    @include breakpoints(mobile){
        font-size: 15px;
    }
}

#incorrect-num, #user-incorrect, #user-correct, #title{
    color: $secondary-color;
    font-weight: $important-text;
}

.user-answer{
    margin-top: 10px;
}

#answer-incorrect{
    color: $wrong-answer;
}

.correct-answer{
    margin-top: 10px;
    margin-bottom: 10px;
}

#answer-incorrect{
    color: $wrong-answer;
}

#answer-correct{
    color: $correct-color;
}

#explanation-text{
    color: $tertiary-color;
}

.previous-btn{
    @include next-btn;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-feedback{
    text-align: center;
}
